<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="edu.wpi.first.javadev.model.elementCategory"
            name="%category.name">
      </category>
      <wizard
            category="edu.wpi.first.javadev.model.elementCategory"
            class="edu.wpi.first.javadev.model.wizard.elements.CommandWizard"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.model.commandWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="edu.wpi.first.javadev.model.menuElements"
            type="new"
            wizardId="edu.wpi.first.javadev.model.commandWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <test
                           args="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
                           property="org.eclipse.jdt.launching.hasProjectNature">
                     </test>
                  </or>
               </iterate>
            </with>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="edu.wpi.first.javadev.model.elementContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="edu.wpi.first.javadev.model.action.FRCElementActionDelegate"
               enablesFor="1"
               icon="icons/firsticon.png"
               id="edu.wpi.first.javadev.model.pidSubsystemAction"
               label="%action.label"
               menubarPath="edu.wpi.first.javadev.model.newMenu/edu.wpi.first.javadev.model.newMenu.newFRCGroup">
         </action>
         <action
               class="edu.wpi.first.javadev.model.action.FRCElementActionDelegate"
               enablesFor="1"
               icon="icons/firsticon.png"
               id="edu.wpi.first.javadev.model.subsystemAction"
               label="%action.label.0"
               menubarPath="edu.wpi.first.javadev.model.newMenu/edu.wpi.first.javadev.model.newMenu.newFRCGroup">
         </action>
         <action
               class="edu.wpi.first.javadev.model.action.FRCElementActionDelegate"
               enablesFor="1"
               icon="icons/firsticon.png"
               id="edu.wpi.first.javadev.model.commandGroupAction"
               label="%action.label.1"
               menubarPath="edu.wpi.first.javadev.model.newMenu/edu.wpi.first.javadev.model.newMenu.newFRCGroup">
         </action>
         <action
               class="edu.wpi.first.javadev.model.action.FRCElementActionDelegate"
               enablesFor="1"
               icon="icons/firsticon.png"
               id="edu.wpi.first.javadev.model.commandAction"
               label="%action.label.2"
               menubarPath="edu.wpi.first.javadev.model.newMenu/edu.wpi.first.javadev.model.newMenu.newFRCGroup">
         </action>
         <menu
               id="edu.wpi.first.javadev.model.newMenu"
               label="%menu.label"
               path="group.goto">
            <separator
                  name="edu.wpi.first.javadev.model.newMenu.newFRCGroup">
            </separator>
         </menu>
         <visibility>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="edu.wpi.first.javadev.model.commandWizard">
         </newWizardShortcut>
         <showInPart
               id="org.eclipse.jdt.ui.PackageExplorer">
         </showInPart>
      </perspectiveExtension>
   </extension>

</plugin>
