<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.wpi.first.javadev.launchshortcuts"
         name="FRC Launch Shortcuts"
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="edu.wpi.first.javadev.launching.shortcuts.LaunchShortcutBuild"
            description="%shortcut.description"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.launching.buildshortcut"
            label="%shortcut.label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <test
                              args="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
                              property="org.eclipse.jdt.launching.hasProjectNature">
                        </test>
                        <and>
                           <test
                                 property="org.eclipse.debug.ui.matchesPattern"
                                 value="*.java">
                           </test>
                           <test
                                 args="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
                                 property="org.eclipse.jdt.launching.hasProjectNature">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="%description.description"
               mode="run">
         </description>
      </shortcut>
      <shortcut
            class="edu.wpi.first.javadev.launching.shortcuts.LaunchShortcutDeploy"
            description="%shortcut.description.0"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.launching.deployshortcut"
            label="%shortcut.label.0"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <test
                              args="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
                              property="org.eclipse.jdt.launching.hasProjectNature">
                        </test>
                        <and>
                           <test
                                 property="org.eclipse.debug.ui.matchesPattern"
                                 value="*.java">
                           </test>
                           <test
                                 args="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
                                 property="org.eclipse.jdt.launching.hasProjectNature">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <description
               description="%description.description.0"
               mode="run">
         </description>
         <description
               description="%description.description.1"
               mode="debug">
         </description>
      </shortcut>
   </extension>

</plugin>
