<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="edu.wpi.first.javadev.core.help.tocs"
         name="%extension.name"
         point="org.eclipse.help.toc">
      <toc
            file="projectsToc.xml">
      </toc>
      <toc
            file="primaryToc.xml"
            primary="true">
      </toc>
      <toc
            file="launchingToc.xml">
      </toc>
      <toc
            file="preferencesToc.xml">
      </toc>
      <toc
            file="troubleshootingToc.xml">
      </toc>
   </extension>

</plugin>
