<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.wpi.first.javadev.projects.associatedperspective" name="%extension-point.name" schema="schema/edu.wpi.first.javadev.projects.associatedperspective.exsd"/>
   <extension
         id="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="edu.wpi.first.javadev.projects.nature.FRCProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="edu.wpi.first.javadev.projects.renameParticipant"
         name="%extension.name.1"
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="edu.wpi.first.javadev.projects.refactoring.ManifestRenameParticipant"
            id="edu.wpi.first.javadev.projects.manifestRename"
            name="%renameParticipant.name">
         <enablement>
            <test
                  args="edu.wpi.first.javadev.projects.nature.FRCProjectNature"
                  forcePluginActivation="true"
                  property="org.eclipse.jdt.launching.hasProjectNature">
            </test>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         id="edu.wpi.first.javadev.projects.wizardExtension"
         name="%extension.name.2"
         point="org.eclipse.ui.newWizards">
      <category
            id="edu.wpi.first.javadev.projects.frcProjectCategory"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcProjectCategory"
            class="edu.wpi.first.javadev.projects.wizards.projects.SimpleRobotWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.simplerobotwizard"
            name="%wizard.name"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcProjectCategory"
            class="edu.wpi.first.javadev.projects.wizards.projects.IterativeRobotWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.iterativerobotwizard"
            name="%wizard.name.0"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcProjectCategory"
            class="edu.wpi.first.javadev.projects.wizards.projects.CommandRobotWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.commanddemowizard"
            name="%wizard.name.8"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <category
            id="edu.wpi.first.javadev.projects.frcSampleCategory"
            name="%category.name.0">
      </category>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.ArmDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.armdemowizard"
            name="%wizard.name.9"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.CameraDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.circletrackerdemowizard"
            name="Camera Demo"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.CircleTrackerDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.circletrackerdemowizard"
            name="%wizard.name.1"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.DashBoardExampleWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.dashboardexamplewizard"
            name="%wizard.name.2"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.DefaultCodeWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.defaultcodewizard"
            name="%wizard.name.3"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.EncoderDriveDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.encoderdrivedemowizard"
            name="%wizard.name.10"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.EnhancedIOWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.enhancediowizard"
            name="%wizard.name.4"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.GearsBotWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.gearsbotwizard"
            name="%wizard.name.11"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.KinectGesturesDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.kinectgesturesdemowizard"
            name="%wizard.name.12"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.KinectStickDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.kinectstickdemowizard"
            name="%wizard.name.13"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.LineTrackerDemo"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.lineTrackerDemoWizard"
            name="%wizard.name.6"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.javadev.projects.frcSampleCategory"
            class="edu.wpi.first.javadev.projects.wizards.samples.TrackerDemoWizard"
            descriptionImage="icons/firsticon.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.projects.trackerdemowizard"
            name="%wizard.name.5"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
   </extension>
   <extension
         id="edu.wpi.first.javadev.projects.antbuilder"
         name="%extension.name.0"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false">
         <run
               class="edu.wpi.first.javadev.projects.builder.AntIncrementalBuilder">
         </run>
      </builder>
   </extension>

</plugin>
