<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.wpi.first.cppdev.ui.navigatorContent"
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="edu.wpi.first.ccpdev.elementWizards"
            type="new"
            wizardId="edu.wpi.first.cppdev.ui.commandWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.ccpdev.elementWizards"
            type="new"
            wizardId="edu.wpi.first.cppdev.ui.subsystemWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.ccpdev.elementWizards"
            type="new"
            wizardId="edu.wpi.first.cppdev.ui.commandGroupWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="edu.wpi.first.ccpdev.elementWizards"
            type="new"
            wizardId="edu.wpi.first.cppdev.ui.pidSubsystemWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         id="edu.wpi.first.cppdev.ui.newWizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="edu.wpi.first.cppdev.ui.elementCategory"
            name="%category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.cppdev.ui.elementCategory"
            class="edu.wpi.first.cppdev.ui.wizard.elements.CommandWizard"
            icon="icons/firsticon.png"
            id="edu.wpi.first.cppdev.ui.commandWizard"
            name="%wizard.name">
      </wizard>
      <wizard
            category="edu.wpi.first.cppdev.ui.elementCategory"
            class="edu.wpi.first.cppdev.ui.wizard.elements.SubsystemWizard"
            icon="icons/firsticon.png"
            id="edu.wpi.first.cppdev.ui.subsystemWizard"
            name="%wizard.name.0">
      </wizard>
      <wizard
            category="edu.wpi.first.cppdev.ui.elementCategory"
            class="edu.wpi.first.cppdev.ui.wizard.elements.PIDSubsystemWizard"
            icon="icons/firsticon.png"
            id="edu.wpi.first.cppdev.ui.pidSubsystemWizard"
            name="%wizard.name.1">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.wpi.first.cppdev.ui.elementCategory"
            class="edu.wpi.first.cppdev.ui.wizard.elements.CommandGroupWizard"
            icon="icons/firsticon.png"
            id="edu.wpi.first.cppdev.ui.commandGroupWizard"
            name="%wizard.name.2">
      </wizard>
   </extension>

</plugin>
