<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.wpi.first.proto.view.ProtoView"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="edu.wpi.first.javadev.builder.view.views.RoboCentricView"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.builder.RobotModelView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="edu.wpi.first.javadev.builder.view.views.DevicePaletteView"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.builder.devicePaletteView"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.wpi.first.javadev.builder.editor.StateMachineEditor"
            extensions="java"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.builder.StateMachineDiagramEditor"
            name="%editor.name">
      </editor>
      <editor
            class="edu.wpi.first.javadev.builder.editor.CodeAndDiagramEditor"
            contributorClass="edu.wpi.first.javadev.builder.editor.CodeAndDiagramEditorContributor"
            extensions="java"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.builder.StateMachineCodeAndDiagramEditor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.wpi.first.javadev.builder.perspectives.RobotPerspectiveFactory"
            icon="icons/firsticon.png"
            id="edu.wpi.first.javadev.builder.RobotPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="edu.wpi.first.javadev.projects.associatedperspective">
      <perspective
            finalPerspective="edu.wpi.first.javadev.builder.RobotPerspective"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective">
      </perspective>
   </extension>

</plugin>
